In [1]:
import numpy as np
import pandas as pd

In [2]:
#import google Analytics data
ga_data=pd.read_csv('ga_keyword.csv')

In [ ]:
ga_data

In [10]:
#extract keyword and traffic data
ga_data_keyword=pd.read_csv('ga_keyword.csv',skiprows=6,nrows=5)
ga_data_keyword_traffic=pd.read_csv('ga_keyword.csv',skiprows=14,nrows=366, parse_dates=['Day Index'])

In [13]:
ga_data_keyword

,Keyword,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Contact From Good Lead (Goal 1 Conversion Rate),Contact From Good Lead (Goal 1 Completions),Contact From Good Lead (Goal 1 Value)
0,(not provided),615,591,727,35.90%,1.75,00:01:42,0.00%,0,£0.00
1,amazon,3,3,3,100.00%,1.00,00:00:00,0.00%,0,£0.00
2,(not set),1,1,1,100.00%,1.00,00:00:00,0.00%,0,£0.00
3,miratrix,1,1,1,0.00%,2.00,00:11:37,0.00%,0,£0.00
4,miratrix london,1,1,1,0.00%,1.00,00:05:27,0.00%,0,£0.00

In [14]:
ga_data_keyword_traffic.head()

,Day Index,Users,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,2018-08-31,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-09-01,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-09-02,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-09-03,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-09-04,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN